#### ✔️ Alguns principios basicos de Python.

In [1]:
nomes = ['Rafael', 'Maria', 'Ana', 'carol', 'Alice', 'Raimunda', 'Eliete']
idades = [10,20,30,33,9,70,55]

sexo = ('M','F', 'O')

cadastro = {'nomes':nomes,
'idades': idades,
'cidade' : ['A', 'B', 'C']}

In [2]:
nomes [5]

'Raimunda'

In [3]:
idades[5]

70

In [4]:
sexo [1]

'F'

In [5]:
cadastro['nomes'] [5]

'Raimunda'

In [6]:
nomes = ['Rafael', 'Maria', 'Ana', 'carol', 'Alice', 'Raimunda', 'Eliete']
idades = [10,20,30,33,9,70,55]

sexo = ('M','F', 'O')

cadastro = {'nomes':nomes,
'idades': idades,
'cidade' : ['A', 'B', 'C']}

In [7]:
for nome in nomes:
    print(nome)

Rafael
Maria
Ana
carol
Alice
Raimunda
Eliete

In [8]:
for idade in idades:
    if idade%2==0:    print(idade)

10
20
30
70

In [9]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [10]:
soma = 0 
for i in range(0,101):
    if i%2==0:
        soma += i

soma

2550

In [11]:
sum([i if i%2==0 else 0 for i in range(0,101)])

2550

In [12]:
[i if i%2==0 else (2*i**1) for i in range(0,10)]

[0, 2, 2, 6, 4, 10, 6, 14, 8, 18]